/* Common css Start */
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
/* Common css End */
/* Nav css Start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-title li{
    list-style: none;
    margin-right: 50px;
}
.nav-title li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
h1{
color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
.nav-style{
    color: #FD6E0A;
}
/* Nav End */
/* Header Part Start */
header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
/* .profile_pic{ */
    /* width: 300px; */
    /* height: 400px; */
/* } */