/* Common css Start */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* Common css End */
/* Nav css Start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title li {
    list-style: none;
    margin-right: 50px;
}

.nav-title li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

h1 {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.nav-style {
    color: #FD6E0A;
}

/* Nav End */
/* Header Part Start */
header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_content {
    max-width: 585px;
}

.banner_content h3 {
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner_content h1 {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner_content p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Main Part Start */
main {
    width: 1140px;
    margin: 0 auto;
}

/* About Part */
#about {
    background-color: #FFF8F3;
    padding: 130px;
    border-radius: 10px;
    margin: 130px 0;
    text-align: center;
    margin-bottom: 0px;
}

.about_text {
    margin-bottom: 0px;
}

.common_head {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.common_text {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.info-container {
    display: flex;
    justify-content: space-around;
}

.about_info {
    text-align: center;
    margin-top: 30px;
}

.info_head {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.info_text {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0px;
}

/* What I Do */
.common_item {
    text-align: center;
}

#what_do_description {
    margin-top: 0px;
    padding: 30px 150px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills_container {
    display: flex;
    gap: 24px;
}

.skill_title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill_description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Summary Start */
.summary_content {
    text-align: center;
}

.summary_main {
    display: flex;
    gap: 100px;
}

.summ_head {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

.summ_text {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 0px;
}

.summa_text {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0px;
}

.summ_description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}

.download-cv {
    margin-top: 30px;
    text-align: center;
}

/* Footet Part */
footer {
    display: flex;
    justify-content: space-between;
    background: #FFF8F3;
    margin-top: 70px;
    padding: 130px 200px;
}

.section_title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section_description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0px;
}
.social_link{
    margin-top: 30px;
}
.social_link a{
    margin-right: 18px;
}

.section_description {
    width: 562px;
}

.contact input,
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

textarea {
    resize: none;
}